<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmLink</title>
    <link rel="shortcut icon" href="/client/public/images/pictures - resources/FARMLINK LOGO.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/client/public/styles/Home Page - Buyer/Checkout section/Orderplace.css">
</head>
<body>
    <!-- Loading Screen -->
    <div id="loader">
        <img src="/client/public/images/pictures - resources/BG ELEMENTS.png" class="bg">
        <img src="/client/public/images/pictures - resources/LANDING PAGE LOGO.png" class="logo">
    </div>

       <!--Main-->
<div id="content">
    <div class="Orderp">
        <div class="close-btn"><a href="/client/views/layouts/Home page - Buyer/Marketplace.html">X</a></div>
        <div class="content-wrapper">
            <div class="logo-container">
                <img src="/client/public/images/BUYER SIGN UP/SIGNUP PAGE LOGO.png" class="orderplogo" alt="FarmLink">
            </div>
            <h1>Order Placed!</h1>
            <p>Allow sellers to have 2 to 4 hours to confirm your order and discuss your Orders' Delivery!</p>

            <div class="button-container">
                <button class="cancel-btn">Cancel Order</button>
                <button class="continue-btn">
                    <a href="/client/views/layouts/Home page - Buyer/Marketplace.html">Continue Shopping!</a>
                </button>
            </div>
        </div>
    </div>
    <!-- Cancel Feedback Modal -->
<div id="cancelModal" class="cancel-modal">
    <div class="cancel-card">
        <div class="cancel-close">&times;</div>

        <h2>Let us know the issue...</h2>

        <textarea placeholder="Type your concern here..."></textarea>

        <button class="submit-btn">Submit</button>
    </div>
</div>

</div>


    <script src="/client/public/js/Home Page - Buyer/Checkout section/Orderplace.js"></script>
</body>
</html>