<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmLink</title>
    <link rel="shortcut icon" href="/client/public/images/pictures - resources/FARMLINK LOGO.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/client/public/styles/Home Page - NGO/Rating.css">
</head>
<body>
    <!--Loading Screen-->
    <div id="loader">
        <img src="/client/public/images/picss/BG ELEMENTS.png" class="bg">
        <img src="/client/public/images/picss/LANDING PAGE LOGO.png" class="logo">
    </div>

    <!--Content-->
    <div id="content">
        <div class="tc-box">
           <img src="/client/public/images/picss/Rectangle 11167.png" class="headback">
           <img src="/client/public/images/picss/FARMLINK _From Farm to table,made simple_.png" class="headlogo">
           <img src="/client/public/images/picss/Fair prices for farmers, Fresh produce for you..png" class="headtext">

           <img src="/client/public/images/Rescue/Title2.png" class="title">


           <p class="text">
            The Freshness Rating is a system that shows how recently a crop<br>
            was harvested and how long it is expected to stay at its best<br>
            quality, it displays a countdown(eg.,"Best within 2 days",<br>
            "Freshly harvested today") based on the type of produce and its<br>
            natural shelf life.<br>

            <br>This helps buyers quickly understand:<br>
            <span style="margin-left: 10px;">• How fresh the produce is</span><br>
            <span style="margin-left: 10px;">• How soon it should be consumed or distributed</span><br>
            <span style="margin-left: 10px;">• Which items need priority purchase</span><br>
            <br>

            For farmers, it adds transparency and improves trust. For buyers,<br>
            it ensures confidence that they are purhasing fresh, quality<br>
            goods.
           </p>
        </div>
    </div>

    <script src="/client/public/js/Home Page - NGO/Rating.js"></script>
</body>
</html>
