<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmLink</title>
    <link rel="shortcut icon" href="/client/public/images/pictures - resources/FARMLINK LOGO.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/client/public/styles/Home Page - NGO/Rescue.css">
</head>
<body>
    <!--Loading Screen-->
    <div id="loader">
        <img src="/client/public/images/picss/BG ELEMENTS.png" class="bg">
        <img src="/client/public/images/picss/LANDING PAGE LOGO.png" class="logo">
    </div>

    <!--Content-->
    <div id="content">
        <div class="tc-box">
           <img src="/client/public/images/picss/Rectangle 11167.png" class="headback">
           <img src="/client/public/images/picss/FARMLINK _From Farm to table,made simple_.png" class="headlogo">
           <img src="/client/public/images/picss/Fair prices for farmers, Fresh produce for you..png" class="headtext">

           <img src="/client/public/images/Rescue/Title.png" class="title">


           <p class="text">
            Rescue Alerts are notifications sent by the FarmLink system when<br>
            a farmer has surplus produce or crops that are nearing their<br>
            freshness limit. Instead of letting the products go to waste, the<br>
            app automatically marks them as discounted “rescue deals” and<br>
            alerts buyers, NGOs, or bulk purchasers who may want to<br>
            purchase them quickly.<br>

            <br>
            This feature helps: <br>
            • Reduce food waste<br>
            • Support farmers by helping them sell products that might<br>
              <span style="margin-left: 10px">otherwise spoil<br>
            • Provide buyers with lower-priced fresh produce<br>
            • Improve overall efficiency in the local food supply chain
           </p>
        </div>
    </div>

    <script src="/client/public/js/Home Page - NGO/Rescue.js"></script>
</body>
</html>
