<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmLink</title>
    <link rel="shortcut icon" href="/client/public/images/pictures - resources/FARMLINK LOGO.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/client/public/styles/Home Page - Buyer/MyBasket.css">
</head>

<body>

    <!-- Loading Screen -->
    <div id="loader">
        <img src="/client/public/images/pictures - resources/BG ELEMENTS.png" class="bg">
        <img src="/client/public/images/pictures - resources/LANDING PAGE LOGO.png" class="logo">
    </div>

    <div class="content" id="content">
        <div class="basket-container">

            <a href="Home.html">
                <img src="/client/public/images/My Basket/Close Icon.png" class="close-btn">
            </a>

            <img src="/client/public/images/My Basket/Your Basket (1).png" class="basket-title">

            <div id="basketItems"></div>

            <!-- CHECKOUT BUTTON -->
            <button class="checkout-btn" id="checkoutBtn" type="button">
                Checkout - <span id="totalAmount">0.00</span>
            </button>

        </div>
    </div>

    <script type="module" src="/client/public/js/Home Page - Buyer/MyBasket.js"></script>

</body>
</html>
